#modal {
  text-align: center;
}

#modal-title {
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
  padding-right: 3em;
}

#modal-title a i {
  color: MediumSlateBlue ;
  font-size: 1rem;
  margin-left: 0.7rem;
}

#modal h4 span{
  font-size: 1.3rem;
  margin-left: 0.65rem;
}

#variations {
  font-size: 1.1rem;
  margin-top: 0;
}

#variations span {
  margin-left: 0.8rem;
}

#variations span:not(.self) {
  cursor: pointer;
}

.self {
  text-decoration: overline;
}

#heart {
  font-size: 1.6rem;
  cursor: pointer;
  margin-right: 0.8rem;
  position: relative;
  top: 0.3rem;
  color: silver;
}

