header {
  align-items: center;
  display: flex;
  color: DimGray;
}

header h1 {
  margin: 0;
  font-size: 2rem;
}

header h2 {
  margin: 0;
  font-size: 1.25rem;
}

#logo {
  border-radius: 100%;
  max-width: 6rem;
  margin: 0 1rem 0.5rem 0;
}

body {
  max-width: 1200px;
  margin: 1rem auto;
  background-color: WhiteSmoke;
  font-family: "open sans";
  color: DarkSlateGray;
}

.card h3 {
  margin: 0;
}

.card p {
  font-size: 1.2rem;
}

.boards {
  padding: 0.7rem;
  margin: 1.8rem 1.3rem;
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.14)
}

.boards h3 {
  margin: 0.8rem 0.7rem;
  font-weight: 100;
  font-size: 1.4rem;
}

.boards li, .boards p {
  font-size: 1.2rem;
  margin: 0.7rem;
}

#filter {
  display: flex;
  align-items: center;
}

.filter-col {
  display: flex;
  flex-direction: column;
}

ol, ul{
  list-style: none;
}

.theme {
  color: salmon;
}
