@import "header.css";
@import "intro.css";
@import "filters.css";
@import "results.css";
@import "modal.css";

body {
  max-width: 1200px;
  margin: auto;
  background-color: #f1f1f1;
  font-family: "open sans", "sans-serif";
  color: DarkSlateGray;
}

.collection,
.card {
  border-radius: 8px;
  margin-bottom: 2rem;

}

ol, ul{
  list-style: none;
}

#heart.favorite,
.F,
.theme { /*the theme of the app*/
  color: salmon;
}

.greyish { /*the grey between body background and white*/
  background-color: #fafafa;
}

.greyed-out {
  color:Silver;
}

.white {
  background-color: white;
}

.M,
.theme2,
input[type=range]+.thumb .value,
#filter-console input:checked + span {
  color: #00c2c2;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border-color: #00c2c2;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #00c2c2;
}

[type="checkbox"]:checked+span:not(.lever):before {
  border-right: 2px solid #00c2c2;
  border-bottom: 2px solid #00c2c2;
}

